%h2
  Edit
= sinple_form_for current_user, url: user_profile_path) do |f|
  = render "users/shared/error_messages", resource: @user
  .field
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, autocomplete: "name"
  .field
    = f.label :profile
    %br/
    = f.text_field :profile, autofocus: true, autocomplete: "profile"
  .actions
    = f.submit "Update"
%div
  Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete}
= link_to "Back", :back
