%h1 プロフィール
.row
  %aside.col-md-4
    %section.user-info
      .name= current_user.name
      .profile= current_user.profile
      =link_to '編集', edit_user_profile_path
      =link_to '戻る', users_path
    %section.stats
      = render 'shared/stats', user: current_user
    %section.likes
      = render 'shared/likes', likes: current_user.likes
  .col-md-8
    = render 'shared/micropost-list', user: current_user
