%h1 プロフィール
.row
  %aside.col-md-4
    %section.user-info
      =render 'follow_form', user: @user if user_signed_in?
      .name= @user.name
      .profile= @user.profile
    %section.stats
      = render 'shared/stats', user: @user
    %section.likes
      = render 'shared/likes', likes: @user.likes
  .col-md-8
    = render 'shared/micropost-list', user: @user
